<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimmywu.snapshotsforreddit">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.jimmywu.snapshotsforreddit.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapshotsForReddit">
        <activity
            android:name="com.jimmywu.snapshotsforreddit.ui.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/Theme.SnapshotsForReddit.NoActionbar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <!-- Needed for the redirect deep link after accepting/declining the sign in. This will allow the app to return back to the sign in fragment instead of the start -->
            <nav-graph android:value="@navigation/account" />

        </activity>
    </application>

</manifest>